#finalSavings {
    position: absolute;
    left: 38%;
    text-align: -webkit-center;
}

#title {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
}

#chartContainer {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 90%;
    position: relative;
    left: -12px;
    height: 496px;

}

#line {
    border: 0;
    border-top: 2px solid #eee;
    margin-bottom: 16px;
}

.centerMe {
    text-align: center;
}

.sliderRow {
    display: flex;
    height: 106px;
}

h1 {
    display: inline;
    text-align: -webkit-center;
}

hr {
    margin-top: -11px;
    margin-bottom: 10px;
}
